# Análisis de Series de Tiempo II - TP Final

#### 

---

En este trabajo práctico se realiza un análisis de temperaturas de superficie terrestre (LST) a partir de información satelital.
Los datos a analizar corresponden a la temperatura de superficie diurna de diferentes tipo de cobertura (pino y estepa) de 3 pares de lotes localizados en la patagonia cordillerana argentina. Para este análisis se extrajeron datos diarios de 5 años consecutivos (2020-2024).

El propósito del trabajo es:

- realizar un análisis exploratorio de los datos
- analizar las series de tiempo del delta de temperatura diaria diurna entre diferentes tipos de cobertura
- pronosticar el delta para fechas futuras usando 3 modelos diferentes
- comparar resultados

### 1. Lectura y preparación de los datos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

`MODIS_Aqua_Terra.csv` contiene los datos crudos generados en Google Earth Engine.

In [2]:
df_aquaterra = pd.read_csv("csv/MODIS_Aqua_Terra_diario_QA.csv",parse_dates=["fecha"])
df_aquaterra=df_aquaterra.dropna()
df_aquaterra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5409 entries, 0 to 7251
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   system:index  5409 non-null   object
 1   LST_Day       5409 non-null   float64
 2   LST_Night     5409 non-null   float64
 3   especie       5409 non-null   object
 4   fecha         5409 non-null   datetime64[ns]
 5   satelite      5409 non-null   object
 6   .geo          5409 non-null   object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 338.1+ KB

In [3]:
df_aquaterra

,system:index,LST_Day,LST_Night,especie,fecha,satelite,.geo
0,1_1_1_2020_01_01,33.799010,14.573281,pino,2020-01-01,Aqua,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,1_1_1_2020_01_02,34.932596,11.882661,pino,2020-01-02,Aqua,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,1_1_1_2020_01_03,33.788120,13.063037,pino,2020-01-03,Aqua,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,1_1_1_2020_01_04,33.781229,11.123120,pino,2020-01-04,Aqua,"{""type"":""MultiPoint"",""coordinates"":[]}"
9,1_1_1_2020_01_10,26.057463,4.503644,pino,2020-01-10,Aqua,"{""type"":""MultiPoint"",""coordinates"":[]}"
...,...,...,...,...,...,...,...
7246,2_2024_12_26,35.454205,16.965595,estepa,2024-12-26,Terra,"{""type"":""MultiPoint"",""coordinates"":[]}"
7247,2_2024_12_27,33.084581,14.390994,estepa,2024-12-27,Terra,"{""type"":""MultiPoint"",""coordinates"":[]}"
7249,2_2024_12_29,35.380471,14.361185,estepa,2024-12-29,Terra,"{""type"":""MultiPoint"",""coordinates"":[]}"
7250,2_2024_12_30,28.604990,11.677361,estepa,2024-12-30,Terra,"{""type"":""MultiPoint"",""coordinates"":[]}"
7251,2_2024_12_31,25.818976,8.286723,estepa,2024-12-31,Terra,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [4]:
# agrupo los valores de Aqua y Terra para generar un df con 1 fila por fecha y tipo de cobertura
df = df_aquaterra.groupby(['fecha', 'especie'])[['LST_Day', 'LST_Night']].mean().reset_index()
df['LST'] = (df['LST_Day'] + df['LST_Night'])/2  # el promedio de las temperaturas
df['mes'] = df['fecha'].dt.month
df

          fecha especie    LST_Day  LST_Night        LST  mes
0    2020-01-01  estepa  35.433453  13.119076  24.276264    1
1    2020-01-01    pino  33.666374  14.978252  24.322313    1
2    2020-01-02  estepa  36.195872  12.874730  24.535301    1
3    2020-01-02    pino  31.342840  13.230229  22.286535    1
4    2020-01-03  estepa  35.245773  13.319114  24.282444    1
...         ...     ...        ...        ...        ...  ...
3079 2024-12-29    pino  32.029511  13.949882  22.989697   12
3080 2024-12-30  estepa  27.980279   9.554168  18.767224   12
3081 2024-12-30    pino  25.945808  10.875378  18.410593   12
3082 2024-12-31  estepa  25.818976   8.286723  17.052850   12
3083 2024-12-31    pino  20.606843   7.481327  14.044085   12

[3084 rows x 6 columns]

In [5]:
# Pivoteo los datos
df_temp = (
    df_aquaterra
    .melt(id_vars=['fecha', 'especie'], value_vars=['LST_Day', 'LST_Night'],
          var_name='dia_noche', value_name='valor')
    .pivot_table(index=['fecha', 'dia_noche'], columns='especie', values='valor', aggfunc='mean')
    .reset_index()
)
df_temp['mes'] = df_temp['fecha'].dt.month
df_temp['delta'] = df_temp['estepa'] - df_temp['pino']
df_temp

especie      fecha  dia_noche     estepa       pino  mes     delta
0       2020-01-01    LST_Day  35.433453  33.666374    1  1.767079
1       2020-01-01  LST_Night  13.119076  14.978252    1 -1.859176
2       2020-01-02    LST_Day  36.195872  31.342840    1  4.853032
3       2020-01-02  LST_Night  12.874730  13.230229    1 -0.355500
4       2020-01-03    LST_Day  35.245773  31.284172    1  3.961601
...            ...        ...        ...        ...  ...       ...
3135    2024-12-29  LST_Night  13.001322  13.949882   12 -0.948560
3136    2024-12-30    LST_Day  27.980279  25.945808   12  2.034471
3137    2024-12-30  LST_Night   9.554168  10.875378   12 -1.321210
3138    2024-12-31    LST_Day  25.818976  20.606843   12  5.212133
3139    2024-12-31  LST_Night   8.286723   7.481327   12  0.805397

[3140 rows x 6 columns]

In [6]:
# Creo un df con las temperaturas diurnas
df_dia = df_temp[df_temp['dia_noche'] == 'LST_Day']
df_dia=df_dia.drop(columns='dia_noche')
df_dia.head(10)

especie      fecha     estepa       pino  mes     delta
0       2020-01-01  35.433453  33.666374    1  1.767079
2       2020-01-02  36.195872  31.342840    1  4.853032
4       2020-01-03  35.245773  31.284172    1  3.961601
6       2020-01-04  38.821326  31.450303    1  7.371023
8       2020-01-05        NaN  17.944593    1       NaN
10      2020-01-07  25.590980  19.523039    1  6.067942
12      2020-01-10  27.450967  22.472114    1  4.978853
14      2020-01-11  36.205996  28.634072    1  7.571923
16      2020-01-12  35.113288  30.692833    1  4.420455
18      2020-01-13  37.252728  31.058509    1  6.194218

Completo con las fechas que faltan.

In [7]:
df_dia = df_dia.set_index('fecha')
df_dia = df_dia.asfreq('D') # genera filas nuevas para los días faltantes
df_dia = df_dia.reset_index()
df_dia['mes'] = df_dia['fecha'].dt.month
df_dia.head(10)

especie      fecha     estepa       pino  mes     delta
0       2020-01-01  35.433453  33.666374    1  1.767079
1       2020-01-02  36.195872  31.342840    1  4.853032
2       2020-01-03  35.245773  31.284172    1  3.961601
3       2020-01-04  38.821326  31.450303    1  7.371023
4       2020-01-05        NaN  17.944593    1       NaN
5       2020-01-06        NaN        NaN    1       NaN
6       2020-01-07  25.590980  19.523039    1  6.067942
7       2020-01-08        NaN        NaN    1       NaN
8       2020-01-09        NaN        NaN    1       NaN
9       2020-01-10  27.450967  22.472114    1  4.978853

### Exportación

In [8]:
# Guardo los datos para su procesamiento
#df.to_csv('csv/ts_diario.csv', index=False)
#df_dia.to_csv('csv/ts_d_diario.csv', index=False)
df_dia.to_csv('csv/ts_d_diario_QA.csv', index=False)